.Sidebar {
  padding: 10px;
  height: 100%;
  background-color: white;
  border-right: 1px dotted lightgray;
}

.Logo {
  width: 150px;
}

a:link, a:visited, a:hover, a:active { text-decoration: none; color: black;}

.NavListContainer {
  margin: 0;
  padding: 0;
}

.MuiListItem-root:hover {
  background-color: var(--theme-color);
}

@media only screen and (max-width: 950px) {
  .MuiListItemText-root {
    display: none;
  }
  .Logo {
    display: none;
  }
}

