.ScheduleTweet {
  overflow: auto;
  height: 93vh;
  padding-bottom: 40px;
}

.ScheduleTweet section {
  max-width: 500px;
}

.ScheduleTweet textarea {
  border-radius: 10px;
  padding: 15px;
  border: none;
  width: 500px;
  height: 150px;
  resize: none;
}

.SwitchContainer {
  margin-left: 2px;
  max-width: 100px;
}

.DatePicker {
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.DropContainer {
  border: 1px dashed grey;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.DropContainerInside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DropContainerInside strong {
  margin: 5px 0 15px;
}

.ButtonContainer .MuiButtonBase-root {
  background-color: var(--theme-color);
  color: black;
  border-radius: 15px;
}

.TweetImagesHeader {
  display: flex;
  align-items: center;
}

.TweetImagesHeader .MuiSvgIcon-root {
  cursor: pointer;
  margin-left: 10px;
}

.ButtonContainer {
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.TweetPollContainer .MuiFormControl-root {
  margin: 0 10px 10px 0;
  z-index: 0;
}

.ErrorContainer {
  margin-bottom: 30px;
}

.ErrorContainer small {
  color: red;
}
