main {
  display: flex;
  height: 100%;
  background-color: rgb(243, 247, 252);
}

.SidebarContainer {
  width: 20%;
  height: 100%;
}

.PageContainer {
  width: 80%;
  padding: 30px 0 30px 70px;
}

@media only screen and (max-width: 950px) {
  .SidebarContainer {
    width: 10%;
  }
  .PageContainer {
    width: 93%;
    padding: 30px 0 30px 50px;
  }
}